body {
    margin:0;
    background: darkred;
    display: flex; align-items: center; flex-direction: column;
}

#header {
    width: 100%;
    height: 10vh;
    background: darkslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputDiv, #output {
    min-width: 35vw;
    min-height: 17.5vw;
    border-radius: 15px;
    background: darkturquoise;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25em;
    margin: 20px;
}

    #inputDiv input {
        width: 25vw;
        height: 20px;
        background: white;
        border-radius: 0; 
    }

    #inputDiv div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

#output {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap; 
}